prin-143-midterm-activity-03/activity03.xsd

<?xml version="1.0"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
  targetNamespace="https://www.example.com"
  xmlns="https://www.example.com"
  elementFormDefault="qualified">

  <xs:element name="movie">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="cinema" type="xs:positiveInteger"/>
        <xs:element name="director" type="xs:string"/>
        <xs:element name="rated">
          <xs:simpleType>
            <xs:restriction base="xs:string">
              <xs:enumeration value="G"/>
              <xs:enumeration value="PG"/>
              <xs:enumeration value="PG-13"/>
              <xs:enumeration value="R"/>
            </xs:restriction>
          </xs:simpleType>
        </xs:element>
        <xs:element name="title" type="xs:string"/>
        <xs:element name="releaseYear" type="xs:gYear"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="politician">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="ballotID" type="xs:positiveInteger"/>
        <xs:element name="dob" type="xs:date"/>
        <xs:element name="lastPosition" type="xs:string"/>
        <xs:element name="name" type="xs:string"/>
        <xs:element name="team">
          <xs:simpleType>
            <xs:restriction base="xs:string">
              <xs:enumeration value="UNITEAM"/>
              <xs:enumeration value="LIBERAL"/>
              <xs:enumeration value="INDEPENDENT"/>
            </xs:restriction>
          </xs:simpleType>
        </xs:element>
        <xs:element name="region" type="xs:string"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="product">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="productName" type="xs:string"/>
        <xs:element name="expiryDate" type="xs:date"/>
        <xs:element name="manufacturer" type="xs:string"/>
        <xs:element name="qty" type="xs:positiveInteger"/>
        <xs:element name="price" type="xs:decimal"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="transaction">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="balance" type="xs:decimal"/>
        <xs:element name="name" type="xs:string"/>
        <xs:element name="pin">
          <xs:simpleType>
            <xs:restriction base="xs:string">
              <xs:length value="4"/>
              <xs:pattern value="[0-9]{4}"/>
            </xs:restriction>
          </xs:simpleType>
        </xs:element>
        <xs:element name="withdrawn" type="xs:decimal"/>
        <xs:element name="transactionDate" type="xs:date"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="student">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="studentId" type="xs:string"/>
        <xs:element name="name" type="xs:string"/>
        <xs:element name="course">
          <xs:simpleType>
            <xs:restriction base="xs:string">
              <xs:enumeration value="BSIT"/>
              <xs:enumeration value="BSCS"/>
              <xs:enumeration value="BSIS"/>
            </xs:restriction>
          </xs:simpleType>
        </xs:element>
        <xs:element name="yearLevel" type="xs:positiveInteger"/>
        <xs:element name="email">
          <xs:simpleType>
            <xs:restriction base="xs:string">
              <xs:pattern value=".+@.+\..+"/>
            </xs:restriction>
          </xs:simpleType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>